.section.articles.index
  .body
    .articles
      - @articles.each do |article|
        .article
          .author
            &nbsp;
          .header
            %h1{'data-editable' => article_path(article)}= article.title
            %span.meta.tags{'data-editable' => article_path(article)}
              = article.tag_list
          .act
            = link_to 'Show', article
            = link_to 'Edit', edit_article_path(article)
            = link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete

    = link_to 'New Article', new_article_path, :class => :new

  .navigation

